#toplevel_page_sg_sentence_page{
    display:none;
}
.toplevel_page_sg_sentence_page{
    background-color:#282e3a;
}
.game_dictation {
    
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: #424242;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;


    .startBtn {
        border: none;
        background-color: #FF7373;
        box-shadow: 0px 5px 0px 0px #CE4646;
        outline: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 22px;
        text-decoration: none;
        margin: 20px;
        color: #fff;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .startBtn:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: 0px 1px 0px 0px;
    }

    .replayBtn {
        @extend .startBtn
    }


    .scoreWrap {
        float: left;
    }

    .errorWrap {
        float: right;
    }

    .outerWrap:after {
        content: "";
        display: block;
        clear: both;
    }

    .bg {
        background-color: #04AF71 !important;
    }

    .transparent{
        color:transparent;
    }

    

    .scoreWrap p,
    .scoreWrap span,
    .errorWrap p,
    .errorWrap span {
        font-size: 20px;
        color: #FF7373;
    }

    .wordsWrap {
        margin-top: 20px;
    }

    .words span {
        font-size: 20px;
        letter-spacing: 1px;
        background-color:#ECF0F1;
        /* color: #ECF0F1; */
    }


    .flashcard{
        font-size: 20px;
        background-color:#ECF0F1;
    }

}

.sentenceWrap{
    color:white;
    margin:20px auto;
    text-align: center;
}