#toplevel_page_sg_dictation_page,
#toplevel_page_sg_sentence_page {
    display: none;
}

.toplevel_page_sg_dictation_page,
.toplevel_page_sg_sentence_page {
    background-color: #282e3a;
    overflow: hidden;


    #wpcontent {
        padding: 0;
    }

    #wpbody-content {
        padding: 0;
    }
}


.alert {
    display: none;
    background-color: #0DFF92;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    height: 50px;
    font-family: Audiowide;

    h2 {
        font-size: 20px;
        color: black;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}



.orange_btn {
    color: $color-orange;
    font-family: Audiowide;
    font-size: 60px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;

    &:hover {
        -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
        -moz-animation: neon5 1.5s ease-in-out infinite alternate;
        animation: neon5 1.5s ease-in-out infinite alternate;
        color: #ffffff;
    }
}


/*glow for webkit*/
@-webkit-keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
}

#game_staging_area {
    background-color: black;
    width: 100%;
    height: calc(100vh - 32px);
    font-family: Audiowide;
    display: flex;
    align-items: center;


    .container {
        display: block;
        position: relative;
        max-width: 500px;

        p {
            @extend .orange_btn;
            margin-top: 50px;

            @media screen and (max-width:$screen-xs-max) {
                margin-top: 10px;
                font-size: 30px;
            }
        }
    }



    .container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    ul li {
        color: #AAAAAA;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #333;

        @media screen and (max-width:$screen-xs-max) {
            height: 50px;
        }
    }

    ul li input[type=checkbox] {
        position: absolute;
        visibility: hidden;
    }

    ul li input[type=radio] {
        position: absolute;
        visibility: hidden;
    }

    ul li label {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1.35em;
        padding: 10px 25px 25px 80px;

        @media screen and (max-width:$screen-xs-max) {
            padding: 0 25px 25px 80px;
        }

        margin: 10px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
    }

    ul li:hover label {
        color: #FFFFFF;
    }

    ul li .check {
        display: block;
        position: absolute;
        border: 5px solid #AAAAAA;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        top: 18px;

        @media screen and (max-width:$screen-xs-max) {
            top: 8px;
        }

        left: 20px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
        box-sizing: content-box;
    }

    ul li:hover .check {
        border: 5px solid #FFFFFF;
    }

    ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 15px;
        width: 15px;
        top: 5px;
        left: 5px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }

    input[type=checkbox]:checked~.check {
        border: 5px solid #0DFF92;
    }

    input[type=checkbox]:checked~.check::before {
        background: #0DFF92;
    }

    input[type=checkbox]:checked~label {
        color: #0DFF92;
    }

    input[type=radio]:checked~.check {
        border: 5px solid #0DFF92;
    }

    input[type=radio]:checked~.check::before {
        background: #0DFF92;
    }

    input[type=radio]:checked~label {
        color: #0DFF92;
    }

}

.game_dictation {

    font-family: Audiowide;

    width: 100%;
    height: calc(100vh - 32px);
    text-align: center;
    padding: 2%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: black;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
    }


    .btn_board {
        position: absolute;
        left: 10px;
        top: 10px;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1001;

        p {
            @extend .orange_btn;
            font-size: 20px;
            text-align: left;

            @media screen and (max-width:$screen-xs-max) {
                font-size: 14px;
            }
        }
    }

    .toogle_board {
        position: absolute;
        z-index: 1001;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 10px;
        max-width: 200px;

        @media screen and (max-width:$screen-sm-max) {
            display: none;
        }


        .toggle {
            display: block;
            text-align: center;
            margin-top: 0px;
            user-select: none;
        }

        .toggle--checkbox {
            display: none;
        }

        .toggle--btn {
            display: block;
            margin: 0 auto;

            font-size: 1.4em;

            transition: all 350ms ease-in;

            &:hover {
                cursor: pointer;
            }
        }

        .toggle--btn,
        .toggle--checkbox,
        .toggle--feature {

            &,
            &:before,
            &:after {
                transition: all 250ms ease-in;
            }

            &:before,
            &:after {
                content: "";
                display: block;
            }
        }


        /* ======================================================
     Neon toggle
     ====================================================== */

        @keyframes neon {
            0% {
                text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 40px #ff9900,
                    0 0 70px #ff9900, 0 0 90px #ff9900, 0 0 90px #ff9900;
            }

            100% {
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
                    0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900;
            }
        }

        $textColor--active: #f1f1f1;
        $textColor--inactive: #333;

        .toggle--neon {
            background-color: #222;
            margin-top: 0;
            padding: 0px 0;

            & .toggle--btn {
                font-family: Audiowide;
                text-transform: uppercase;
                font-size: 20px;
                color: $textColor--inactive;

                // text-shadow: -1px -1px 1px #111, 1px 1px 1px #444;

                text-shadow: 0 0 10px transparent, 0 0 15px transparent,
                    0 0 25px transparent, 0 0 40px transparent, 0 0 70px transparent,
                    0 0 90px transparent, 0 0 90px transparent;

                &:before,
                &:after {
                    display: inline-block;
                    margin: 0 20px;
                    transition: all 220ms ease-in-out;
                }

                &:before {
                    content: attr(data-label-off);
                    animation: neon 1.5s ease-in-out infinite alternate;
                    animation-delay: 90ms;
                    color: $textColor--active;
                }

                &:after {
                    content: attr(data-label-on);
                }
            }

            & .toggle--checkbox {
                &:checked {
                    &+.toggle--btn {
                        &:before {
                            animation: none;
                            color: $textColor--inactive;
                        }

                        &:after {
                            animation: neon 1.5s ease-in-out infinite alternate;
                            animation-delay: 90ms;
                            color: $textColor--active;
                        }
                    }
                }
            }
        }


    }

    .score_board {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $color-green;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px 20px;

        p {
            font-size: 20px;

            @media screen and (max-width:$screen-xs-max) {
                font-size: 14px;
            }
        }

        span {
            font-size: 20px;

            @media screen and (max-width:$screen-xs-max) {
                font-size: 14px;
            }
        }

    }



    .for_mobile_keyboard {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1000;
        opacity: 0;

    }


    .flashcard {
        font-family: 'Nixie One', Helvetica, Arial;
        font-size: 30px;
        z-index: 1;

        @media screen and (max-width:$screen-xs-max) {
            font-size: 18px;
        }

        background-color: #ECF0F1;
    }

    .words_board {
        font-family: 'Nixie One', Helvetica, Arial;
        z-index: 1;


        .words {



            span {
                font-size: 60px;
                letter-spacing: 1px;
                background-color: #ECF0F1;

                @media screen and (max-width:$screen-xs-max) {
                    font-size: 30px;
                }
            }



            .bg {
                background-color: #04AF71 !important;
            }

            .transparent {
                color: transparent;
            }
        }

        body.toplevel_page_sg_sentence_page & {
            .words {
                span {
                    font-size: 30px;

                    @media screen and (max-width:$screen-xs-max) {
                        font-size: 18px;
                    }
                }
            }

        }



    }



    .sentence_board {
        // font-family: 'Nixie One', Helvetica, Arial;
        font-family: Arial;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 20px;
        font-size: 24px;
        z-index: 1;

        @media screen and (max-width:$screen-xs-max) {
            font-size: 18px;
        }
    }

    .translation_board {
        @extend .sentence_board;
    }

}


canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
}