#updateModal{
    z-index: 300000;

    
    .modal-header,
    .modal-footer {
        background-color: #333;
        color: white;
        border: 0;
    }
    
    .modal-body {
        background-color: #333;
        color: white;
    }


}

